<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>guanyu_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 45}, {244, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 1095}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 61}, {214, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 657}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{128, 60}, {210, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 219}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 67}, {264, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 438}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 71}, {282, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 219}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 73}, {274, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 657}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 60}, {278, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 657}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 68}, {282, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 876}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 100}, {282, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 219}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 124}, {234, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 1095}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 122}, {222, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 657}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 48}, {236, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 1314}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 111}, {232, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 0}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 43}, {256, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 438}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 0}, {268, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 657}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 0}, {264, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 438}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 24}, {146, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 876}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 21}, {146, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 438}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 21}, {188, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1533}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 9}, {182, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 0}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 7}, {188, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1314}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 7}, {182, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1533}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 62}, {228, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 219}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 9}, {188, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 0}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 7}, {182, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1095}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 9}, {182, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1752}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 7}, {178, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 36}, {178, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 438}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 65}, {176, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 0}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 102}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1752}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 111}, {158, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 876}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 71}, {200, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 219}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 77}, {188, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 1095}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 75}, {180, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1314}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 88}, {166, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1095}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{72, 86}, {172, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 876}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guanyu_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 63}, {220, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 217}</string>
			<key>spriteSourceSize</key>
			<string>{350, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 876}, {350, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Untitled_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Untitled_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>